<h2><%="#{@user}'s Duels"%></h2>
<%@duels.each do |duel|%>
  <%="Competitor: #{duel.competitor}; Outcome: #{duel.outcome}"%><br>
  <%=link_to("this duel",user_duel_path(@user,duel))%><br><br>
<%end%>
