<h1>Select a New Duel Opponent</h1><br>
<h2 class="duelSelector",id="alexanderamilton"><%=link_to("Alexander Hamilton",user_duels_path(@user))%></h2><br><br>
<h2 class="duelSelector" id="aaronburr"><%=link_to("Aaron Burr",user_duels_path(@user))%></h2><br><br>
<h2 class="duelSelector" id="buttongwinnett"><%=link_to("Button Gwinnett",user_duels_path(@user))%></h2><br><br>
