<h1>The Hamilton Wall of Fame</h1>
<h2>These people have been fortunate enough to see the original cast of Hamilton</h2>
<%@users.each do |user|%>
  <h4><%=user.username.upcase%></h4>
<%end%>
<br />
<br />
<footer><h5>may we all be so lucky some day</h5></footer>